.slider{:style => 'width:960px;height:320px'}
  %a{:href => '#'}
    %img{:src => '/assets/slider/elaboracion_proyectos.jpg', :title => 'Consultoría en gestión pública y elaboración de proyectos'}
  %a{:href => '#'}
    %img{:src => '/assets/slider/chan_chan.jpg', :title => 'Proyectos de rescate arqueológico y evaluación arqueológica'}