.row
  .column.unpadded#content
    .block
      .slider{:style => 'width:640px;height:320px'}
        %a{:href => '#'}
          %img{:src => '/assets/slider/elaboracion_proyectos.jpg', :title => 'Consultoría en gestión pública y elaboración de proyectos'}
        %a{:href => '#'}
          %img{:src => '/assets/slider/chan_chan.jpg', :title => 'Proyectos de rescate arqueológico y evaluación arqueológica'}
        %a{:href => '#'}
          %img{:src => '/assets/slider/huaca_sol_luna.jpg'}
        %a{:href => '#'}
          %img{:src => '/assets/slider/campamento.jpg'}
        %a{:href => '#'}
          %img{:src => '/assets/slider/plaza_de_armas.jpg'}
        %a{:href => '#'}
          %img{:src => '/assets/slider/victor_leon.jpg'}
        %a{:href => '#'}
          %img{:src => '/assets/slider/brasil.jpg'}
      %p.profile.big
        Ofrecemos servicios de consultoría en temas de
        %strong
          gestión pública,
        %strong
          elaboración de proyectos,
        así como en
        %strong
          proyectos de rescate arqueológico (CIRA)
        y
        %strong
          proyectos de evaluación arqueológica (PEA).
        %a{:href => '#'}
          Conozca nuestros servicios &raquo;
  .column#sidebar
    .block
      %h4 Víctor Leon Alvarez
    .block
      %h4 Amelia Rojas Gallegos
.row
  .column.half#news
    .block
      %img{:src => '/assets/news/wimmer.jpg', :width => 150}
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vitae odio elit, vel luctus neque. Nullam turpis urna, feugiat ac aliquam et, suscipit vitae lectus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed vel dolor et enim commodo aliquam ac at libero.
    .block.alternate
      %img{:src => '/assets/news/buses.jpg', :width => 150}
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vitae odio elit, vel luctus neque. Nullam turpis urna, feugiat ac aliquam et, suscipit vitae lectus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed vel dolor et enim commodo aliquam ac at libero.
    .block
      %img{:src => '/assets/news/buses.jpg', :width => 150}
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vitae odio elit, vel luctus neque. Nullam turpis urna, feugiat ac aliquam et, suscipit vitae lectus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed vel dolor et enim commodo aliquam ac at libero.
  .column.unpadded.half.accordion
    .block
      %h2 Expats Ideas
    .block
      %h2 Fénix
    .block
      %h2 Empresa1